@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400i');
@import url('https://fonts.googleapis.com/css?family=Roboto:800i');
nav{
    background-color: #6e83ee;
}

.title-announce {
    padding: 30px;
    background-color: #8194f8;
    width: 100%;
}

.title-announce h1 {
    color: #eee;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.sect h2 {
    color: #222;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 44px;
    margin-bottom: 20px;
}

blockquote {
    border-left-color: #8194f8;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.7em;
    text-align: justify;
}

.partner {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
}

.sect {
    padding: 30px;
}

hr {
    width: 40%;
}

@media (max-width: 768px) {
    .title-announce {
        padding: 20px;
    }

    .title-announce h1 {
        font-size: 42px;
    }

    .sect {
        padding: 20px;
    }

    .sect h2 {
        font-size: 38px;
    }

    blockquote {
        font-size: 16px;
    }

    .partner { 
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .partner {
        font-size: 20px;
    }
}